@model IEnumerable<DataAccessLayer.Entities.User>

<h2>Users</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model) {
            <tr>
                <td>@user.Email</td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning  btn-sm" asp-route-id="@user.Id">Edit</a>
                    <a asp-action="Details" class="btn btn-info  btn-sm" asp-route-id="@user.Id">Details</a>
                    <a asp-action="Delete" class="btn btn-danger  btn-sm" asp-route-id="@user.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
