@model PresentationLayer.Models.LibraryViewModel

<h2>Create Library</h2>

<form asp-action="Create">
    <div class="form-group mb-4">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>