@model PresentationLayer.Models.DeleteViewModel

<h2>Delete Account</h2>

<h3>Are you sure you want to delete your account?</h3>
<div>
    <h4>@Model.UserName (@Model.Email)</h4>
    <hr />
    <form asp-action="DeleteConfirmed">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Profile" class="btn btn-secondary">Cancel</a>
    </form>
</div>