@model DataAccessLayer.Entities.User

<h2>Account Details</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">User Name</dt>
        <dd class="col-sm-10">@Model.UserName</dd>
    </dl>
</div>
<div>
    <a asp-action="Update" class="btn btn-primary">Update Password</a>
    <a asp-action="Delete" class="btn btn-danger">Delete Account</a>
    <a asp-action="Notifications" class="btn btn-info">Notifications</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}