<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="aspharmony.View.Site1" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/1531/1531344.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
    </style>

    <asp:ContentPlaceHolder ID="head" runat="server">

    </asp:ContentPlaceHolder>

</head>
<body>
    <nav>
        <a href='Home.aspx'>home</a>
        <%
            if (Session["id"] != null) { 
                Response.Write($"<p>{Session["email"].ToString()}</p>");
                Response.Write($"<a href='logout.aspx'><button>logout</button></a>");
                Response.Write($"<a href='delete.aspx'><button>delete</button></a>");
                Response.Write($"<a href='update.aspx'><button>update</button></a>");
                if (int.Parse(Session["role"].ToString()) > 1)
                    Response.Write($"<a href='admin.aspx'><button>admin</button></a>");
            }
            else
                Response.Write("<a href='Login.aspx'><button>login</button></a>");
        %>
    </nav>
    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>
</body>
</html>
